// colors

$beige-600: #8b8678;
$beige-160: #f3f0e4;
$grey-600: #1d1d1f;
$grey-560: #606066;
$grey-300: #bfbfbf;
$grey-160: #f3f3f3;
$green: #4fc1c0;
$yellow: #f7c69c;
$cyan: #48d0d7;
$navy: #002877;
$red: #cf3726;
$purple: #703fca;
$purple-light: #af68ea;
$turquoise: #69acae;
$brown: #7f4d1c;
$magenta: #a51f67;
$blue: #3f7dbe;
$navy-grey: #74818d;
$army-green: #6f7b4a;
$gold: #b5a64f;
$orange: #f58207;
$white: #ffffff;

// typography

$text-preset-1-font-size: 28px;
$text-preset-1-line-height: 1.5rem;  // 1.5 times the font size
$text-preset-1-letter-spacing: 0px;
$text-preset-1-font-weight: bold;
$text-preset-1-font-family: "Public Sans Bold";

$text-preset-2-font-size: 20px;
$text-preset-2-line-height: 1.2rem;  // 1.2 times the font size
$text-preset-2-letter-spacing: 0px;
$text-preset-2-font-weight: bold;
$text-preset-2-font-family: "Public Sans Bold";

$text-preset-4-bold-font-size: 16px;
$text-preset-4-bold-line-height: 1.5rem;
$text-preset-4-bold-letter-spacing: 0px;
$text-preset-4-bold-font-weight: bold;
$text-preset-4-bold-font-family: "Public Sans Bold";

$text-preset-5-font-size: 16px;
$text-preset-5-line-height: 1.5rem;
$text-preset-5-letter-spacing: 0px;
$text-preset-5-font-weight: regular;
$text-preset-5-font-family: "Public Sans Regular";

// spacing

$spacing-960: 960px;
$spacing-420: 420px;
$spacing-400: 400px;
$spacing-320: 320px;
$spacing-260: 260px;
$spacing-210: 210px;
$spacing-150: 150px;
$spacing-120: 120px;
$spacing-90: 90px;
$spacing-60: 60px;
$spacing-40: 40px;

