// Color Variables
$beige-500: #98908b;
$beige-100: #f8f4f0;

$grey-900: #201f24;
$grey-500: #696868;
$grey-300: #b3b3b3;
$grey-100: #f2f2f2;

$green: #277c78;
$yellow: #f2cdac;
$cyan: #82c9d7;
$navy: #626070;
$red: #c94736;
$purple: #826cb0;

$purple-secondary: #af81ba;
$turquoise: #597c7c;
$brown: #93674f;
$magenta: #934f6f;
$blue: #3f82b2;
$navy-grey: #97a0ac;

$army-green: #7f9161;
$gold: #cab361;
$orange: #be6c49;

$white: #ffffff;

// Typography
$font-primary: "Public Sans", sans-serif;

@mixin text-preset-1 {
  font-family: $font-primary;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: bold;
}

@mixin text-preset-2 {
  font-family: $font-primary;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: bold;
}

@mixin text-preset-3 {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: bold;
}

@mixin text-preset-4 {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: regular;
}

@mixin text-preset-4-bold {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: bold;
}

@mixin text-preset-5 {
  font-family: $font-primary;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: regular;
}

@mixin text-preset-5-bold {
  font-family: $font-primary;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: bold;
}

// // Example usage in a component or element
// .header {
//     @include text-preset-1;
//     color: $green;
//   }

// Spacing
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-250: 20px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;
$spacing-50: 4px;


// Animations pour les <span>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  // transform: translateX(-50px); /* L'élément glisse depuis la droite */
}

.fade-leave-from,
.fade-enter-to {
  opacity: 1;
  // transform: translateX(0); /* Position d'origine */
}
